
.content-section{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0 0 4rem;
    position: relative;

    @include respond(phone-land){
        margin: 0 0 5rem;
    }

    @include respond(phone){
        margin: 0 0 5rem;
    }

}

.sidebar{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: $color-white;
}

.control-wrapper{
    display: table;
    width: 50%;
    height: 100%;
    margin: 0 auto;
}

.settings{
    display: table-row;
    width: 100%;
    overflow: auto;
}


.action-buttons{
    padding: .5rem;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 6rem;
    justify-content: space-around;
}


.global-init .tabata{
    background: white!important;
}


.global-prepare{
    background: $color-yellow!important;

    & .header{
        background-color: $color-black!important;

        &__content{
            color: $color-white!important;
        }
    }

    color: $color-black-lighter!important;
    & .tabata {
        background: $color-yellow!important;

    }

    & .btn-control{
        color: $color-black-2 !important;
        border: none;
        background: $color-yellow!important;

        &:hover{
            color: $color-black;
        }
    }


}


.global-work{
    color: $color-white!important;
    background: $color-green!important;

    & .tabata{
        background: $color-green!important;
    }

    & .btn-control{
        color: $color-white!important;
        border: none;
        background: $color-green!important;

        &:hover{
            color: $color-black;
        }
    }

}


.global-rest {
    background: rgba($color-red, .8)!important;

    & .header{
        background-color: $color-white!important;

        &__content{
            color: $color-black-lighter!important;
        }
    }


    color: $color-red-darken!important;

    & .tabata{
        background: transparent;

    }

    & .btn-control{
        color: $color-red-darken;
        border: none;
        background: transparent!important;

        &:hover{
            color: $color-red-lighter;
        }
    }
}


.global-done{
    background:$color-white url("/images/confetti.gif") repeat-x;
}


.global-prepare .settings, .global-rest .settings, .global-work .settings{
    color: $color-black-lighter!important;
}
