.tabata{
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    font-size: 6rem;
    padding: 0;

    &__heading{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        flex: 0 0 30%;
        color: rgba($color-black, .4);
    }

    &__title{
        font-size: 3rem;
        font-weight: 700;
    }

    &__timer{
        flex: 0 0 100%;
        font-size: 24rem;
        display: flex;
        font-weight: 700;
        font-family: Oswald, sans-serif;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    &__additional{
        flex:0 0 100%;
        display: flex;
        align-items: center;
        height: 15rem;
    }

    &__cycles{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    &__tabatas{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__number{
        font-size: 6rem;
        flex:0 0 70%;
        display: flex;
        font-weight: 500;
        font-family: Oswald, sans-serif;
    }

    &__controls{
        flex: 0 0 100%;
        display: flex;
        align-self: center;
    }
}
