.tabata{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    background-color: transparent;
    font-size: 6rem;
    padding: 0;
    margin-bottom: 4rem;

    @include respond(phone-land){
        margin-bottom: 5rem;
    }

    @include respond(phone){
        margin-bottom: 5rem;
    }

    &__heading{
        text-align: center;
        font-size: 2.5rem;
        font-weight: 300;
        margin: 0;
        flex: 0 0 30%;
        color: rgba($color-black, .4);
    }

    &__title{
        font-size: 3rem;
        font-weight: 700;
    }

    &__timer{
        flex: 0 0 65%;
        width: 100vw;
        font-size: 24rem;

        @include respond(phone-land){
            font-size: 10rem;
            flex: 0 0 40%
        }

        @include respond(phone){
            font-size: 10rem;
            flex: 0 0 50%;
        }


        display: flex;
        font-weight: 700;
        font-family: Oswald, sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    &__additional{
        flex:0 0 20%;
        display: flex;
        align-items: flex-start;
        justify-content: center;
        width: 100vw;
        @include respond(phone-land){
            flex:0 0 10%;
            font-size: 8rem;
        }

        @include respond(phone){
            flex:0 0 10%;
            font-size: 8rem;
        }
    }

    &__cycles{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    &__tabatas{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__number{
        font-size: 6rem;
        flex:0 0 70%;
        display: flex;
        font-weight: 500;
        font-family: Oswald, sans-serif;
    }

    &__controls{
        flex: 0 0 10%;
        width: 100vw;
        justify-content: center;
        align-items: center;
        display: flex;


        @include respond(phone){
            flex: 0 0 30%;
            align-self: flex-start;
        }

    }
}
