.tabata{
    flex: 1;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-wrap: wrap;
    background-color: transparent;
    font-size: 6rem;
    padding: 1rem;

    &__heading{
        text-align: center;
        font-size: 4rem;
        font-weight: 300;
        flex: 0 0 30%;
    }

    &__title{
        font-size: 3rem;
        font-weight: 700;
    }

    &__timer{
        flex: 0 0 100%;
        font-size: 14rem;
        display: flex;
        font-weight: 500;
        font-family: Oswald, sans-serif;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        justify-content: center;
        background-color: $color-white;
        align-items: center;
    }

    &__additional{
        flex:0 0 100%;
        display: flex;
    }

    &__cycles{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

    }

    &__tabatas{
        flex: 0 0 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    &__number{
        font-size: 6rem;
        flex:0 0 70%;
        display: flex;
    }

    &__controls{
        flex: 0 0 100%;
        display: flex;
        align-self: center;
    }
}
