.timer-field{

    &__input{
        padding: 2rem;
        border: none;
        cursor: none;
        font-size: 2rem;
        font-family: inherit;
        color: inherit;
        cursor: inherit;
        &:focus{
            outline: none;
        }
    }

    &__btn{
        display: inline-block;
        padding: 1rem;

        &,
        &:link,
        &:visited{
            background-image: linear-gradient(to top, rgba($color-white, .5), rgba($color-grey-light, .6));
            border: 1px solid $color-grey-light;
        }

        &:focus{
            outline: none;
        }

        &:hover{
            border-color: $color-white;
        }

        &--minus{

        }

        &--plus{

        }
    }



}
