@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap);/**
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px is where our normal styles apply
1800px+: Big desktop

$breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Order: Base + typography > general layout + grid > page layout > components
 */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /** around 10px - by default browser font size is 16 px, 1rem ->16px **/
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
}

::-moz-selection {
  background-color: #2d3142;
  color: #fff;
}

::selection {
  background-color: #2d3142;
  color: #fff;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #4f5d75;
  line-height: 1.5;
}

.tabata {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  height: 100%;
  flex-wrap: wrap;
  font-size: 8rem;
}
.tabata__timer {
  flex: 0 0 100%;
  font-size: 10rem;
  display: flex;
  background-color: orangered;
  justify-content: center;
  align-items: center;
}
.tabata__heading {
  flex: 0 0 100%;
  text-align: center;
  font-size: 5rem;
  font-weight: 300;
}
.tabata__cycles {
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-right: 0.1rem dashed #4f5d75;
  border-bottom: 0.1rem dashed #4f5d75;
}
.tabata__tabatas {
  flex: 0 0 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem dashed #4f5d75;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.header {
  flex: 0 0 25rem;
  display: flex;
  padding: 3rem;
  background-color: #2d3142;
  justify-content: center;
  align-items: center;
}
.header__content {
  display: flex;
  font-size: 2rem;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.5rem;
}

.content-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.content-section__main {
  flex: 1;
  background-color: #fff;
}
.content-section__sidebar {
  flex: 0 0 400px;
  background-color: #bfc0c0;
}