@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;500;600;700&display=swap);/**
0 - 600px: Phone
600 - 900px: Tablet portrait
900 - 1200px: Tablet landscape
1200 - 1800px is where our normal styles apply
1800px+: Big desktop

$breakpoint argument choises:
- phone
- tab-port
- tab-land
- big-desktop

1em = 16px

Order: Base + typography > general layout + grid > page layout > components
 */
/* Set the theme color of the component */
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  /** around 10px - by default browser font size is 16 px, 1rem ->16px **/
}
@media only screen and (min-width: 112.5em) {
  html {
    font-size: 75%;
  }
}
@media only screen and (max-width: 75em) {
  html {
    font-size: 56.25%;
  }
}
@media only screen and (max-width: 56.25em) {
  html {
    font-size: 50%;
  }
}

body {
  box-sizing: border-box;
  padding: 0;
  background-color: #fff;
}

::-moz-selection {
  background-color: #2d3142;
  color: #fff;
}

::selection {
  background-color: #2d3142;
  color: #fff;
}

body {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  color: #4f5d75;
  line-height: 1.5;
}

.tabata {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 95%;
  flex-wrap: wrap;
  background-color: transparent;
  font-size: 6rem;
  padding: 2rem;
}
.tabata__heading {
  text-align: center;
  font-size: 4rem;
  font-weight: 300;
}
.tabata__timer {
  flex: 0 0 100%;
  font-size: 18rem;
  display: flex;
  height: 70%;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
  justify-content: center;
  background-color: #fff;
  align-items: center;
}
.tabata__additional {
  flex: 0 0 100%;
  height: 30%;
  display: flex;
}
.tabata__cycles {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabata__tabatas {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.tabata__number {
  font-size: 9rem;
}

.setting {
  padding: 2rem 3rem;
  background-color: #fff;
  margin: 1rem;
  border: 1px solid #dadddd;
}
.setting__title {
  font-size: 2rem;
  color: rgba(0, 0, 0, 0.6);
}
.setting__slider {
  padding: 2rem;
  display: block;
  margin: auto;
  width: 80% !important;
}

.btn {
  padding: 2rem;
  display: inline-block;
}
.btn, .btn:link, .btn:visited {
  background-color: #fff;
  border: 1px solid #dadddd;
  cursor: pointer;
}
.btn:hover {
  background-image: linear-gradient(to right bottom, #fff 50%, rgba(191, 192, 192, 0.5));
}
.btn--block {
  flex: 0 0 45%;
}
.btn--wide {
  flex: 0 0 95%;
  margin: 1rem auto;
}

.timer-field__input {
  padding: 2rem;
  border: none;
  cursor: none;
  font-size: 2rem;
  font-family: inherit;
  color: inherit;
  cursor: inherit;
}
.timer-field__input:focus {
  outline: none;
}
.timer-field__btn {
  display: inline-block;
  padding: 1rem;
}
.timer-field__btn, .timer-field__btn:link, .timer-field__btn:visited {
  background-image: linear-gradient(to top, rgba(255, 255, 255, 0.5), rgba(218, 221, 221, 0.6));
  border: 1px solid #dadddd;
}
.timer-field__btn:focus {
  outline: none;
}
.timer-field__btn:hover {
  border-color: #fff;
}
/* import theme style */
/* component style */
.vue-slider-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* rail style */
.vue-slider-rail {
  background-color: #ccc;
  border-radius: 15px;
}

/* process style */
.vue-slider-process {
  background-color: #2d3142;
  border-radius: 15px;
}

/* mark style */
.vue-slider-mark {
  z-index: 4;
}
.vue-slider-mark:first-child .vue-slider-mark-step, .vue-slider-mark:last-child .vue-slider-mark-step {
  display: none;
}
.vue-slider-mark-step {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.16);
}
.vue-slider-mark-label {
  font-size: 14px;
  white-space: nowrap;
}
/* dot style */
.vue-slider-dot-handle {
  cursor: pointer;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  box-sizing: border-box;
  box-shadow: 0.5px 0.5px 2px 1px rgba(0, 0, 0, 0.32);
}
.vue-slider-dot-handle-focus {
  box-shadow: 0px 0px 1px 2px rgba(45, 49, 66, 0.36);
}

.vue-slider-dot-handle-disabled {
  cursor: not-allowed;
  background-color: #ccc;
}

.vue-slider-dot-tooltip-inner {
  font-size: 14px;
  white-space: nowrap;
  padding: 2px 5px;
  min-width: 20px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  border-color: #2d3142;
  background-color: #2d3142;
  box-sizing: content-box;
}
.vue-slider-dot-tooltip-inner::after {
  content: "";
  position: absolute;
}
.vue-slider-dot-tooltip-inner-top::after {
  top: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-top-color: inherit;
}
.vue-slider-dot-tooltip-inner-bottom::after {
  bottom: 100%;
  left: 50%;
  transform: translate(-50%, 0);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-bottom-color: inherit;
}
.vue-slider-dot-tooltip-inner-left::after {
  left: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-left-color: inherit;
}
.vue-slider-dot-tooltip-inner-right::after {
  right: 100%;
  top: 50%;
  transform: translate(0, -50%);
  height: 0;
  width: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px;
  border-right-color: inherit;
}

.vue-slider-dot-tooltip-wrapper {
  opacity: 0;
  transition: all 0.3s;
}
.vue-slider-dot-tooltip-wrapper-show {
  opacity: 1;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  margin: 0;
}

.nav {
  flex: 0 0 100%;
  height: 5%;
}

.header {
  flex: 0 0 5rem;
  display: flex;
  padding: 1rem;
  background-color: #2d3142;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}
.header__content {
  display: flex;
  font-size: 3rem;
  color: #4f5d75;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 1.2rem;
}

.content-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-wrap: wrap;
  background-color: #dadddd;
}

.sidebar {
  flex: 0 0 400px;
  background-color: rgba(218, 221, 221, 0.2);
  border-left: 1px solid #dadddd;
}

.settings {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settings__buttons {
  padding: 1rem 1rem 4rem;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
}