.header{
    flex: 0 0 5rem;
    display: flex;
    padding: 1rem;
    background-color: $color-primary;
    @include shadow-medium;
    justify-content: center;
    align-items: center;

    &__content{
        display: flex;
        font-size: 3rem;
        color: $color-primary-light;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 1.2rem;
    }
}
