.nav{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    height: 4rem;
    //border-top: 1px solid $color-grey-light;
    background-image: linear-gradient(to bottom, lighten($color-grey-light,5), lighten($color-grey-light,40));

    @include respond(phone-land){
        width: 8rem;
        height: 100vh;
        left: auto;
        right: 0;
        top: 0;
    }


    @include respond(phone){
        height: 5rem;
        width: 100%;
        bottom: 0;
        left: 0;
        top: auto;
        right: auto;
    }

    &__item{
        padding: .75rem;
        cursor: pointer;
        border:none;
        color: rgba($color-black, .8);
        background:transparent;

        @include respond(phone-land){
            font-size: 2rem;
            color: rgba($color-black, .6);
        }

        @include respond(phone){
            font-size: 2rem;
            color: rgba($color-black, .6);
        }

        &:hover{
            color: $color-black;
        }


        &:focus, &:link, &:visited{
            border:none;
            background: transparent;
            outline: none;
        }
    }
}
