.nav{
    position: fixed;
    z-index: 1000;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: .5rem;
    height: 4rem;
    border-top: 1px solid $color-grey-light;
    background-image: linear-gradient(to right, rgba($color-grey-light,.2), rgba($color-grey-light,.5));

    &__item{
        padding: .75rem;
        cursor: pointer;
        border:none;
        color: rgba($color-black, .6);
        background:transparent;


        &:hover{
            color: $color-black;
        }


        &:focus, &:link, &:visited{
            border:none;
            background: transparent;
            outline: none;
        }
    }
}
