// Colors
$color-primary:#2d3142;
$color-primary-light:#4f5d75;
$color-primary-dark:#1b1d28;

$color-grey:#bfc0c0;
$color-grey-light:#dadddd;
$color-grey-dark: #abacac;

$color-orange: #ef8354;
$color-orange-light:#f19168;
$color-orange-dark:#f37a46;

$color-white:#fff;
$color-black:#000;


//Font
$default-font-size: 1.6rem;

// GRID
$grid-width: 100vw;

/* Set the theme color of the component */
$themeColor: $color-primary;
